@media screen and (max-width: 992px){
    .img{
        max-width: 350px;
        max-height: 300px;
    }
    .logo{
        max-width: 90px;
        max-height: 90px;
    }
    a{
        font-size: 30px;
    }
}
@media screen and (max-width: 768px){
    .img{
        max-width: 200px;
        max-height: 150px;
    }
    .logo{
        max-width: 90px;
        max-height: 90px;
    }
    a{
        font-size: 19px;
    }
    p{
        font-size: 20px;
    }
}
@media screen and (max-width: 576px){
    .img{
        max-width: 250px;
        max-height: 200px;
    }
    .logo{
        max-width: 90px;
        max-height: 90px;
    }
    a{
        font-size: 19px;
        margin: 10px;
    }
    p{
        font-size: 15px;
    }
}
